.top-div{
  background: #3880ff;border-radius: 0 0 70% 70%;
}
.box1-count,.box2-count{
    padding: 10px;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 0px;
  color: black;

}

.box1{
  top: 40px !important;
  padding: 10px !important;
  background: white !important;
}

.box1-img,.box2-img{
    width: 30%;margin:auto;
  }
